/* обёртка компонента */
.wrap {
	position: relative;
	width: 100%;
}

/* стили для инпутов */
.input {
	cursor: pointer;

	position: absolute;

	width: 100%;
	height: 1rem;

	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	margin: 0;
	padding: 0;
}

/* нижний инпут, отвечающий за инжнюю границу диапазона */
.down {
	top: 1rem;
}

/* блок для диапазона */
.diapazon {
	position: absolute;
	top: 0.95rem;

	height: 0.1rem;

	background: transparent;
	pointer-events: none;
}

/* блок имитирующий общий трэк */
.falsetrack {
	position: absolute;
	top: 0.95rem;
	left: 0.53rem;

	width: calc(100% - 1.05rem);
	height: 0.1rem;

	background: rgb(204 204 207);
	border-radius: 0.25rem;
}

.input:active {
	cursor: grabbing;
}

/* фишка инпута */
.input::-moz-range-thumb {
	appearance: none;
	width: 0;
	height: 0;
	border-radius: 0;
	background: none;
}

/* фишка верхнего инпута */
.up::-moz-range-thumb {
	transform: translateY(-0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-top: 1.1rem solid red;
	border-bottom: none;
}

/* фишка нижнего интута */
.down::-moz-range-thumb {
	transform: translateY(0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-bottom: 1.1rem solid red;
	border-top: none;
}

/* фишка инпута */
.input::-webkit-slider-thumb {
	appearance: none;
	width: 0;
	height: 0;
	border-radius: 0;
	background: none;
}

/* фишка верхнего инпута */
.up::-webkit-slider-thumb {
	transform: translateY(-0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-top: 1.1rem solid red;
	border-bottom: none;
}

/* фишка нижнего интута */
.down::-webkit-slider-thumb {
	transform: translateY(0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-bottom: 1.1rem solid red;
	border-top: none;
}

/* фишка инпута */
.input::-ms-thumb {
	box-sizing: border-box;
	appearance: none;
	width: 0;
	height: 0;
	border-radius: 0;
	background: none;
}

/* фишка верхнего инпута */
.up::-ms-thumb {
	transform: translateY(-0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-top: 1.1rem solid red;
	border-bottom: none;
}

/* фишка нижнего интута */
.down::-ms-thumb {
	transform: translateY(0.05rem);
	border-left: 0.55rem solid transparent;
	border-right: 0.55rem solid transparent;
	border-bottom: 1.1rem solid red;
	border-top: none;
}
